{% extends 'base.html.twig' %}

{% block title %}ITOVE{% endblock %}
{% block stylesheets_1 %}
    <link href="css/itovecom.css" rel="stylesheet">
{% endblock %}

{% block header %}

{% endblock %}

{% block main %}
  <body class="text-center" style="">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">
    <div class="inner">
      <h3 class="masthead-brand">ITOVE</h3>
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link active" href="#">Home</a>
        <a class="nav-link" href="#">产品</a>
        <a class="nav-link" href="#">案例</a>
        <a class="nav-link" href="#">Contact</a>
      </nav>
    </div>
  </header>

  <main role="main" class="inner cover">
    <h1 class="cover-heading">IT SOLUTIONS</h1>
    <p class="lead">ITOVE 重定义客户体验，提供相关产品、服务和第三方应用，设计和实现安全、高可用、高性能的解决方案，满足各种 IT 需求，帮助你成功应对商业挑战。</p>
    <p class="lead">
      <a href="#" class="btn btn-lg btn-secondary">产 品</a>
      <a href="#" class="btn btn-lg btn-secondary">案 例</a>
    </p>
  </main>
{% endblock %}
